__pycache__/
data/*
!data/combined_issues.csv
!data/developer_info_cleaned.csv
!data/dev_affiliations_primary.csv
!data/upstream_driven.csv
!data/downstream_driven.csv

venv/
.DS_Store
.env
scripts-data-generation/dummy.py
scripts-data-generation/find_multiple_primaryaff.py
.Rhistory
